.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

ion-card {
  max-width: 400px;
  width: 100%;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--ion-color-primary);
}

ion-item {
  margin-bottom: 10px;
  margin-top: 20px;
}

.save-button {
  margin-top: 20px;
}