<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="inicio-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="button-group">
          <ion-button expand="block" routerLink="/contacto">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            Contacto
          </ion-button>
          <ion-button expand="block" routerLink="/perfil">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            Perfil
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>